<div class="flex w-full items-center justify-between space-x-6 p-6">
   <div class="flex-1 truncate">
      <div class="flex items-center justify-between space-x-3">
         <h3 class="truncate text-sm font-medium text-gray-900">{{ noteData?.headline }}</h3>
         <span
             class="inline-flex shrink-0 items-center rounded-full  px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset " [ngClass]="getPriorityClass(noteData?.priority)">{{ showPriority(noteData?.priority ?? 0) }}</span>
      </div>
      <p class="mt-1 truncate text-sm text-gray-500">{{ noteData?.company }}</p>
   </div>
</div>